{% extends 'user/base.html' %}

{% block content %}

</br></br>
<div style="width: 600px; height: 50px; background-color: rgba(23, 173, 78, 0.5);; display: flex; justify-content: center; align-items: center;">
    <h2>Login</h2>
</div>
<div style="width: 600px; height: 600px; background-color: rgba(87, 244, 134, 0.5);; display: flex; justify-content: center; align-items: center;">
    
    <form method=POST>
        {% csrf_token %}
        {{ form.as_div }}
        </br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>

{% endblock %}